@font-face{
	font-family:'myFont';
	src: url('../fonts/Aaargh.ttf');
}
body{
	background-color: black;
}
p{
	color:white;
	font-family: myFont;
	text-align: left;
	margin-left: 8%;
	font-size: 18px;
	width:100%;
}
li{
	display: inline;
	color:white;
	margin-right:15px;
	text-align: center;
}

h1{
	color:white;
	font-family: myFont;
	float:left;
	width:145px;
}
h3{
	color:white;
	font-family: myFont;
}
h5{
	color:white;
	font-family:myFont;
}
th{
	color:white;
	font-family: myFont;
}

#mob1{
	color:#728bd4;
}
#mob2{
	color:#8bd472;
}
.header{
	position:fixed;
	/*By setting width to a greater size than the divs combined,
	we can have all the divs on one line. Remember for future reference.
	Very easy solution*/
	width:1300px;
	background-color: #151515;
	top:0px;
	z-index: 10;
}
.title{
	padding-left: 30px;
	padding-top:3px;
	height:8px;
	width:100px;
	display:block;
}
.navigation{
	position: relative;
	float:left;
	margin-left:170px;
	width:550px;
	display:block;
}
#resuMe{
	float:left;
	margin-left:200px;
	margin-top:-7px;
	font-family:myFont;
	color:white;
	text-decoration: none;
	font-size: 18px;
	width:100px;
}


#name{
	color:white;
	text-decoration: none;
	font-size: 24px;
	font-family: myFont;
}
a.nav{
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-family: myFont;
}
a.nav:hover{
	text-decoration: underline;
}
.anchor{
	display: block;
	position: relative;
	top: -75px;
}
#mainHead{
	font-size: 72px;
	margin-top: 20%;
	border-bottom: 1px solid #222426;
	border-top: 1px solid #222426;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display:block;
	text-align: center;
}

#description{
	width: 370px;
	margin: 30px auto;
	text-align: center;

}
.difPages{
	border-bottom: 1px solid white;
	padding:10px;
	text-align: center;
}
.center{
	text-align: center;
	margin:10px auto 0px auto;
}

#profilepic{
	position:absolute;
	top:10%;
	left:3%;
}
.socialMedia{
	background-color: #222426;
	width: 100%;
	text-align:center;
	margin: 0px auto 0px auto;
}
#git{
	background-color:white;
}

.circle{
	height: 75px;
	width: 100px;
	border-radius: 100%;
	display: inline-block;
	margin: 20px;
	padding-top: 25px;
}


#circle1{
	background-color: #d4728b;
}
#circle2{
	background-color: #728bd4;
}
#circle3{
	background-color: #8bd472;
}
#circle4{
	background-color: #d4bb72;
}

#aboutMe{
	margin: 240px auto 0px auto;
	border-bottom: 1px solid white;
	padding-bottom:0px;
	font-size: 30px;
}
#experiences2{
	margin:20px auto 0px auto;
	font-size:30px;
}
#contactMe{
	margin: 0px auto 0px auto;
	font-size: 30px;
}
#back2{
	background-color:#222426;
	padding-bottom: 8%;
}
.project{
	font-size: 14px;
	width:250px;
}
.projtitle{
	color:white;
}
.projdiv{
	width:23%;
	float:left;
	margin:0.8%;
}
