@font-face{
	font-family:'myFont';
	src: url('../fonts/Aaargh.ttf');
}
body{
	background-color: black;}
p{
	color:white;
	font-family: myFont;
	text-align: left;
	margin-left: 8%;
	font-size: 18px;}
li{
	display: inline-block;
	color:white;
	margin-right:0px;
	text-align: center;}
h1{
	float:left;
	width:145px;}
th{
	color:white;
	font-family: myFont;}

/*This anchor helps us know where to go for the in page links. 
Accounts for the fixed header*/
.anchor{
	display: block;
	position: relative;
	top: -75px;}



/*Set up the top of the page/nav bar here*/
#top{
	position:absolute;
	top:0px;
	visibility: 0px;}
#header{
	position:fixed;
	/*By setting width to a greater size than the divs combined,
	we can have all the divs on one line. Remember for future reference.
	Very easy solution*/
	background-color: #151515;
	top:0px;
	left:0px;
	z-index: 10;}
/*The next three selectors are to set things up for the navigation bar at the
top of the page*/
#title{
	padding-left: 30px;
	padding-top:3px;
	height:8px;
	width:100px;
	display:block;
}
#navigation{
	position: absolute;
	display:block;
	margin-top: 4px;
}
#resume{
	display:block;
	float:right;
	margin-right:40px;
	margin-top:-5px;
}
.nav{
	margin-left:10px;
}



/*This one is for the main text that opens when you come onto the
site*/
#firstpage{
	border-top: 1px solid #000;
}
#mainHead{
	font-size: 72px;
	margin-top: 100px;
	border-bottom: 1px solid #222426;
	border-top: 1px solid #222426;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:0px;
	display:block;
}
/*Quck description after the mainHead*/
#description{
	width: 370px;
}




/*Selectors to set stuff up on page 2*/
#page2{
	background-color:#222426;
	margin-left:-10px;
	border-top: 1px solid #000;
}
#aboutMe{
	margin: 0px auto 0px auto;
}
#hobbies{
	margin-top: 8%;
}
/*This is used to create the circles that have skills
on page 2. Set up a circle for all to use, then have
specific colors based on the id's*/
.circle{
	height: 75px;
	width: 100px;
	border-radius: 100%;
	display: inline-block;
	padding-top: 25px;
}
#circle1{
	background-color: #d4728b;
	margin:15px;
}
#circle2{
	background-color: #728bd4;
	margin:15px;
}
#circle3{
	background-color: #8bd472;
	margin:15px;
}
#circle4{
	background-color: #d4bb72;
	margin:15px;
}




/*The rest of these are for page 3*/
#contactpage{
	background-color:#222426;
	margin-left: -10px;
}
.project{
	font-size: 14px;
	width:250px;
}
.projtitle{
	color:white;
}
.projdiv{
	width:23%;
	float:left;
	margin:0.8%;
}




/*footer items*/
#footer{
	background-color: #222426;
	text-align: center;
	margin-left: -5%;
}
#footerlist{
	display: inline-block;
}